body { padding-top: 64px; }
.card { height: 100%; }
.headerbg {background: url(../images/headerbg.jpg) center;background-size: cover;}
.headerbg p {text-shadow: 2px 2px 2px #000;}
.headerbg h1 {text-shadow: 3px 3px 5px #000;}
.headerbg div {padding-bottom:5px;}
.headerbg img { height: 30px; margin-right: 20px;}
#content { padding-bottom: 25px; }
#menuchk:checked ~ .navbar-collapse { display:block; }
#langchk:checked ~ .dropdown-menu { display:block; }
.nav-link { cursor:pointer; }
.dropdown-menu { right: 5%; }
